@import "../../Mixins/FontMixins.scss";

#jobs-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    #job-status-toggle {
        margin-top: 16px;
        flex: 1;
        width: 85%;
        max-width: 600px;
        display: flex;
        border-bottom: none;

        @import "./JobStatusToggle.scss";
    }

    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .jobs-page-list-item {
            flex: 1;
            min-width: 400px;
            max-width: 800px;
            margin: 12px;

            &-inner {
                // height: 100%; // Makes the buttons looks crappy, but the grid look good. Better design decisions need to be made here.

                // Apply to all sections below
                > div {
                    padding: 12px;

                    &:not(:last-child) {
                        border-bottom: 1px solid #ececec;
                    }
                }
            }

            &-header {
                &-picture {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    background-position: center center;
                }

                &-title {
                    @include generate-font(140%, #444, 800);
                }
                
                &-date {
                    @include generate-font(90%, #999, 600);
                }
            }

            &-status {
                @include generate-font(90%, #6dcac5, 600);
            }
            
            &-links {
                > a {
                    @include generate-font(110%, #ff825b, 600);
                    text-decoration: none;

                    &:hover {
                        color: darken(#ff825b, 10%);
                    }
                }
            }
        }
    }
}
