@import "../../Mixins/FontMixins.scss";

.job-status-toggle-option {
    @include generate-font(110%, #666, 600);
    border-bottom: 3px solid #ddd;
    padding: 12px;
    flex: 1;
    text-align: center;
    transition: border-bottom 200ms linear;

    &:nth-child(2) {
        border-left: 1px solid #ddd;
    }

    &:hover {
        cursor: pointer;
    }
    
    &.active {
        @include generate-font(110%, #333, 600);
        border-bottom: 3px solid #fe7b11;
        transition: border-bottom 200ms linear;
    }
}
