@import "../00_Variables.scss";
@import "../Mixins/FontMixins.scss";

&-header-menu-full {
    display: flex;
    align-items: baseline;

    > .spacer {
        @include generate-font(200%, #ccc, 400);
    }
    
    > a {
        @include generate-font(160%, #ff825b, 400);
        padding: 12px 18px;
        text-decoration: none;
        transition: color 200ms linear;
        
        &:hover {
            color: darken(#ff825b, 10%);
            transition: color 200ms linear;
        }
    }
}

&-mobile-menu {
    &-content {
        box-shadow: 0px 4px 2px -2px #ccc;

        &-links {
            display: flex;
            flex-direction: column;

            > div {
                border-top: 2px solid #eee;
                text-align: center;

                > a {
                    @include generate-font(100%, #ff7e1f, 800);
                    padding: 8px 0;
                    display: block;
                    text-decoration: none;
                    
                    &:hover {
                        color: darken(#ff7e1f, 15%);
                    }
                }
            }
        }
    }
}
