// Generic stuff
$pageBackgroundColor: #e6e6e6;
// $defaultFontColor: #303034;
$defaultFontColor: #666;
$elementBackgroundColor: #fff;
$primary: #ff7b11;

// Button related stuff
$accentAmount: 50%;
$borderAccentAmount: 10%;
$hoverAccentAmount: 8%;
$fontSize: 85%;
$fontWeight: 700;